@font-face {
    font-family: Poppins-bold;
    src: url(./Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-semibold;
    src: url(Poppins-SemiBold.ttf);
}

@font-face {
    font-family: Poppins-light;
    src: url(Poppins-Light.ttf);
}

@font-face {
    font-family: Poppins-regular;
    src: url(Poppins-Regular.ttf);
}